@page "/wordCloud"
@using EstdCoReportApp.Application.Domain;
@using Microsoft.AspNetCore.SignalR.Client;
@inject HttpClient Http

<PageTitle>ابر کلمات</PageTitle>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">ابر کلمات!</h4>
    <p>ابر کلمات یک تصویر از کلمات متن هست که با توجه به میزان تکرار هر کلمه، اندازه‌ی اون یا رنگ قلم تغییر می کنه.</p>
    <p>فرض کنید برای محصولی 200 نظر ثبت شده و از این 200 نفر یا نظر، 100 نفر اون ها به یک کلمه که میتونه نقطه قوت اون یا ضعفش باشه اشاره کردند. پس اون کلمه کلیدی محسوب میشه و میتونیم موقع خوندن نظرات هدفمندتر عمل کنیم.</p>
    <hr>
    <p class="mb-0">ابر کلمات با استفاده از دیتای موجود در سایت https://kifpool.me/</p>
</div>


@if (wordCloudImage == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <img src="@wordCloudImage" />
}

@code {
    private string? wordCloudImage;
    private HubConnection? _dataHubConnection;
    private async Task StartHubConnection()
    {
        var apiAddress = "https://localhost:7119";


        var sensorDataUrl = ($"{apiAddress}/wordCloud");
        _dataHubConnection = new HubConnectionBuilder()
                        .WithUrl(sensorDataUrl)
                        .Build();


        await _dataHubConnection.StartAsync();
    }
    private void SetRefreshDataListener()
    {
        var methodName = "TransferWordCloudData";


        _dataHubConnection.On<string>(methodName, (data) =>
        {
            wordCloudImage = "data:image/png;base64," + data;
            StateHasChanged();
        });
    }
    protected override async Task OnInitializedAsync()
    {
        await StartHubConnection();
        SetRefreshDataListener();
    }
}
